* {
	font-family: 'Ubuntu Mono', monospace;
}

html, body {
	background:#282A36;
}

body {
	margin:0;
}

.wrapper { 
	width:90%;
	margin:auto;
	display:block;
}

.title-bar {
	width:100%;
	color: #E356A7;
}

.code::-webkit-scrollbar, .console-area::-webkit-scrollbar {
	display:none;
}

.console-area, .code {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.code-area, .console-area {
	width: calc(50% - 2px);
	margin: auto;
	height: 500px;
	display: block;
	border: 1px solid #bd93f9;
	float:left;
	overflow:hidden;
	font-size: 12px;
}

.console-area {
	background:#282A36;
	color: #50FA7B;
}

.code-area {
	border-right:none;
}

.console-area .shell {
	padding: 8px;
}

.code-area .code {
	background:#282A36;
	color: #50FA7B;
	padding:8px;
	outline:none;
	width:-webkit-fill-available;
	resize:none;
	border:none;
	height: calc(100% - 46px);
}

.code-area .run {
	background:#50FA7B;
	border:none;
	height: 28px;
	outline: none;
	position:relative;
	right: 0px;
	float: right;
	cursor:pointer;
}

.gap {
	display:none;
	height:50px;
}

@media screen and (max-width:800px) {			
	.title-bar {
		width:90%;
		margin:auto;
	}

	.code-area, .console-area {
		width:90%;
		float:none;
	}

	.code-area {
		border-right: 1px solid #bd93f9;
		border-bottom: none;
	}

	.gap {
		display: block;
	}
}





