* {
	font-family: 'Ubuntu Mono', monospace;
}

html, body {
	background:#282A36;
}

body {
	margin:0;
}

textarea {
	-moz-tab-size : 2;
	-o-tab-size : 2;
	tab-size : 2;
}

.wrapper { 
	width:90%;
	margin:auto;
	display:block;
}

.title-bar {
	width:100%;
	color: #E356A7;
}

.code::-webkit-scrollbar, .shell::-webkit-scrollbar {
	display:none;
}

.shell, .code {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.code-area, .console-area {
	width: calc(50% - 2px);
	margin: auto;
	height: 500px;
	display: block;
	border: 1px solid #BD93F9;
	float:left;
	font-size: 14px;
}

.console-area {
	background:#282A36;
}

.shell {
	height: calc(100% - 28px);
	overflow:scroll;
}

.line {
	padding:5px 8px;
	margin-bottom:2px; 
	color: #FFF;
	border-bottom:1px solid;
}

.line.error {
	color: #FF0000;
}

.raw {
	opacity:0;
	top:0px;
}

.code-area {
	border-right:none;
	background:#282A36;
}

.code {
	background: none;
	padding:8px;
	outline:none;
	width:-webkit-fill-available;
	resize:none;
	border:none;
	height:calc(100% - 46px);
	color:#fff;
}

.code span {
	white-space: pre;
}

.run, .clear {
	background:#50FA7B;
	border:none;
	height: 28px;
	outline: none;
	position:relative;
	right: 0px;
	float: right;
	cursor:pointer;
}

.gap {
	display:none;
	height:50px;
}

@media screen and (max-width:800px) {			
	.title-bar {
		width:90%;
		margin:auto;
	}

	.code-area, .console-area {
		width:90%;
		float:none;
	}

	.code-area {
		border-right: 1px solid #BD93F9;
		border-bottom: none;
	}

	.gap {
		display: block;
	}
}








